/* ===============================工作区=============================== */

/* 设置面板背景为白色 */
.workspace-leaf-content {
    background-color: #ffffff;
}

/* workspace（大工作区）
└── workspace-leaf（一个面板/标签页）
    └── workspace-leaf-content（这个面板的内容区）
        └── view-content（具体视图：编辑器、大纲、文件树……） */

/* 工作区 上栏颜色 */
.workspace-tab-header-container {
    background-color: #FC8DC21A;
}

body>div.titlebar>div>div.titlebar-button-container.mod-right {
    background-color: #FC8DC21A !important;
}

/* 工作区 左侧栏颜色 */
body>div.app-container>div.horizontal-main-container>div>div.workspace-ribbon.side-dock-ribbon.mod-left {
    background-color: #FC8DC21A;
}

.workspace-split.mod-horizontal.mod-sidedock.mod-left-split>div.workspace-sidedock-vault-profile {
    background-color: #FC8DC21A;
}

/* ===============================表格=============================== */

/* 表格 向滚动条 */
.markdown-source-view div.cm-embed-block.cm-table-widget {
    overflow-x: auto;
}

.markdown-source-view div.cm-embed-block.cm-table-widget>div>table {
    width: max-content !important;
}

.markdown-reading-view .markdown-preview-view.markdown-rendered table {
    width: max-content !important;
}

/* 表格 上色 */
.cm-table-widget.markdown-rendered>div>table>thead {
    background-color: #FC8DC21A;
}

/* ===============================列表=============================== */

/* 有序、无序列表 去掉前缩进 */
.cm-formatting-list-ul,
.cm-formatting-list-ol {
    font-variant-numeric: tabular-nums;
    padding-inline-start: unset;
}

/* 有序列表 颜色 */
.cm-formatting-list-ol {
    color: #f00094 !important;
    font-weight: bold;
}

/* 无序列表 颜色 */
.list-bullet::after {
    background-color: #f00094 !important;
}

/* 任务列表 去掉前缩进 */
.markdown-source-view.mod-cm6 .task-list-label .task-list-item-checkbox {
    margin-inline-start: unset;
    margin-inline-end: unset;
}

/* 任务列表 改成圆形；改变颜色 */
input[type="checkbox"] {
    /* border-radius: 50% !important; */
    border: solid #f00094 !important;
}

/* ===============================标题=============================== */

/* 笔记标题 字体色 */
.inline-title {
    color: #E64553 !important;
}

/* 1-6级标题 字体色 */
.cm-header-1 {
    color: #E64553 !important;
}

.cm-header-2 {
    color: #FE640C !important;
}

.cm-header-3 {
    color: #DF8E1D !important;
}

.cm-header-4 {
    color: #40A02B !important;
}

.cm-header-5 {
    color: #2166F6 !important;
}

.cm-header-6 {
    color: #8938EF !important;
}

/* ===============================代码块=============================== */

/* 代码块、内联代码块 背景色 */
.HyperMD-codeblock,
.cm-inline-code {
    background-color: #f2f8ff !important;
}

/* ===============================树状层级结构=============================== */

/* 注意：若只给大纲上色，将代码放到下一行的{}中 */
/* .workspace-leaf-content[data-type="outline"] {} */

/* 给树状层级结构上色（6个层级） */
.tree-item>.tree-item-self>.tree-item-inner {
    color: #E64553 !important;
}

.tree-item>.tree-item-children>.tree-item>.tree-item-self>.tree-item-inner {
    color: #FE640C !important;
}

.tree-item>.tree-item-children>.tree-item>.tree-item-children>.tree-item>.tree-item-self>.tree-item-inner {
    color: #DF8E1D !important;
}

.tree-item>.tree-item-children>.tree-item>.tree-item-children>.tree-item>.tree-item-children>.tree-item>.tree-item-self>.tree-item-inner {
    color: #40A02B !important;
}

.tree-item>.tree-item-children>.tree-item>.tree-item-children>.tree-item>.tree-item-children>.tree-item>.tree-item-children>.tree-item>.tree-item-self>.tree-item-inner {
    color: #2166F6 !important;
}

.tree-item>.tree-item-children>.tree-item>.tree-item-children>.tree-item>.tree-item-children>.tree-item>.tree-item-children>.tree-item>.tree-item-children>.tree-item>.tree-item-self>.tree-item-inner {
    color: #8938EF !important;
}

body>div.app-container>div.horizontal-main-container>div>div.workspace-ribbon.side-dock-ribbon.mod-left::before {
    background-color: #FC8DC21A;
}